body {
  background-image: "https://cdn.pixabay.com/photo/2012/03/03/23/52/background-21657_960_720.jpg" !important;
}

.p-t {
  padding-top: 3rem;
}

.mx-auto {
  display: block !important;
  margin: 0 auto !important;
}
